.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key-display {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;

  border: 5px solid #ccc;
  padding: 2rem 5rem;
  
}

.overlap-delay-display {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
}

.history-display {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  width: 80%;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.history-table-head {
  border-bottom: 1px solid white;
}

.history-table-head tr {
  background-color: #333;
}

.history-table-head-row th {
  padding: 0rem 1rem;
}

.history-table-row {
  border: none;
  background-color: #606060;
}

.history-table-row.overlap-row {
  background-color: #722f37;
}

.history-table-row.delay-row {
  background-color: #2e6f40;
}